/**
 * Used on Special:Newsletters. We use the OOUI color scheme here. :)
 */

.newsletter-subscribed,
.newsletter-subscribed:link, .newsletter-subscribed:visited {
	color: #D11D13;
	font-weight: bold;
}

.newsletter-subscribed:hover, .newsletter-subscribed:active {
    color: #8C130D;
    text-decoration: none;
}

.newsletter-unsubscribed,
.newsletter-unsubscribed:link, .newsletter-unsubscribed:visited {
	color: #00AF89;
	font-weight: bold;
}

.newsletter-unsubscribed:hover, .newsletter-unsubscribed:active {
    color: #008064;
    text-decoration: none;
}

.newsletter-link-disabled {
	pointer-events: none;
	cursor: default;
}
