/**
 * Used on Special:Newsletters.
 */

.newsletter-subscribed,
.newsletter-subscribed:link, .newsletter-subscribed:visited {
	color: #13385A;
	font-weight: bold;
}

.newsletter-subscribed:hover, .newsletter-subscribed:active {
	color: #0c1f30;
	text-decoration: none;
}

.newsletter-unsubscribed,
.newsletter-unsubscribed:link, .newsletter-unsubscribed:visited {
	color: #245e8f;
	font-weight: bold;
}

.newsletter-unsubscribed:hover, .newsletter-unsubscribed:active {
	color: #173d5d;
	text-decoration: none;
}

.newsletter-link-disabled {
	pointer-events: none;
	cursor: default;
}
