/**
 * Stylesheet used on Special:Newsletters.
 */

/**
 * Hide the submit button for users with JS enabled as simply choosing from the dropdown
 * submits the form for them. The associated JS code is located at ext.newsletter.newsletters
 * module. This is done here instead of that module to prevent FOUCs.
 */
.client-js #mw-newsletter-filter-submit {
	display: none;
}

/**
 * The default dropdown is rather wide so we'll make it a bit small to make it look nicer.
 */
#mw-newsletter-filter-options {
	width: 40%;
}

/* Styling for "Subscribe/Unsubscribe" links */
.newsletter-subscribed,
.newsletter-subscribed:link, .newsletter-subscribed:visited {
	color: #13385A;
	font-weight: bold;
}

.newsletter-subscribed:hover, .newsletter-subscribed:active {
	color: #0c1f30;
	text-decoration: none;
}

.newsletter-unsubscribed,
.newsletter-unsubscribed:link, .newsletter-unsubscribed:visited {
	color: #245e8f;
	font-weight: bold;
}

.newsletter-unsubscribed:hover, .newsletter-unsubscribed:active {
	color: #173d5d;
	text-decoration: none;
}

.newsletter-link-disabled {
	pointer-events: none;
	cursor: default;
}

.mw-special-Newsletters .mw-datatable, .mw-special-Newsletters .mw-datatable td, .mw-special-Newsletters .mw-datatable th {
	border: none;
}

.mw-special-Newsletters .mw-datatable, .mw-special-Newsletters .mw-datatable tr {
	border: solid #AAAAAA;
	border-width: 0 0 1px 0;
	text-align: center;
}